fanikiwaMpesaGateway/Service References/fanikiwaMpesaWcfServiceProxy/fanikiwaMpesaWcfService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4063/fanikiwaMpesaWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" />
  <xs:import schemaLocation="http://localhost:4063/fanikiwaMpesaWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/fanikiwaGL.Framework" />
  <xs:element name="BatchPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="Trans" nillable="true" type="q1:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchPostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="transaction" nillable="true" type="q2:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostSingleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulatePostSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="transaction" nillable="true" type="q3:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulatePostSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/fanikiwaGL.Framework" minOccurs="0" name="SimulatePostSingleResult" nillable="true" type="q4:SimulatePostStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="account" nillable="true" type="q5:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AvailableBalanceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvailableBalanceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLimitAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLimitAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountLimitAmountResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockFunds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="account" nillable="true" type="q6:Account" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockFundsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearEffects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="account" nillable="true" type="q7:Account" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearEffectsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="account" nillable="true" type="q8:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="customer" nillable="true" type="q9:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="CreateCustomerResult" nillable="true" type="q10:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetAccountResult" nillable="true" type="q11:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLimitStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="act" nillable="true" type="q12:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLimitStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/fanikiwaGL.Framework" minOccurs="0" name="GetAccountLimitStatusResult" type="q13:AccountStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLockStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="act" nillable="true" type="q14:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLockStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/fanikiwaGL.Framework" minOccurs="0" name="GetAccountLockStatusResult" type="q15:AccountStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTransactionsByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endtDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTransactionsByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetAccountTransactionsByDateResult" nillable="true" type="q16:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetCustomerByEmailResult" nillable="true" type="q17:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="account" nillable="true" type="q18:Account" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkLimitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="account" nillable="true" type="q19:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="OpenAccountResult" nillable="true" type="q20:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccountLimitStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="acc" nillable="true" type="q21:Account" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/fanikiwaGL.Framework" minOccurs="0" name="status" type="q22:AccountStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccountLimitStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccountLockStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="acc" nillable="true" type="q23:Account" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/fanikiwaGL.Framework" minOccurs="0" name="status" type="q24:AccountStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccountLockStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBlockFunds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="account" nillable="true" type="q25:Account" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBlockFundsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="account" nillable="true" type="q26:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="customer" nillable="true" type="q27:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="UpdateCustomerResult" nillable="true" type="q28:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetAllAccountsResult" nillable="true" type="q29:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetOpenAccountsResult" nillable="true" type="q30:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetClosedAccountsResult" nillable="true" type="q31:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetAllTransactionTypesResult" nillable="true" type="q32:ArrayOfTransactionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactiontypeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetTransactionTypeResult" nillable="true" type="q33:TransactionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTieredTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tieredID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTieredTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetTieredTableResult" nillable="true" type="q34:ArrayOfTieredDet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAccountClosed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAccountClosedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAccountClosedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetAllTransactionsResult" nillable="true" type="q35:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_accountid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetAccountTransactionsResult" nillable="true" type="q36:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q37:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountViewTransactionsByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endtDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountViewTransactionsByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="GetAccountViewTransactionsByDateResult" nillable="true" type="q38:ArrayOfTransactionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransactionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="TransactionType" nillable="true" type="q39:TransactionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransactionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="CreateTransactionTypeResult" nillable="true" type="q40:TransactionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="TransactionType" nillable="true" type="q41:TransactionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/fanikiwaGL.Entities" minOccurs="0" name="UpdateTransactionTypeResult" nillable="true" type="q42:TransactionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>